.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.header-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-navigation-links {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.header-navlink {
  display: contents;
}
.header-component {
  text-decoration: none;
}
.header-navlink1 {
  text-decoration: none;
}
.header-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink5 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}







@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .header-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-btn-group {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
}
